
<h2 class="heading">We Provide Good Quality Of Food To Your Family....!</h2>

<!-- <div class="burgergif">
    <video autoplay="" loop="">
        <source src="/assets/burgerv.mp4">
    </video>
</div> -->


    <div class="Video">
        <video autoplay="" loop="">
            <source src="/assets/intro.webm" type="video/webm">
        </video>
        </div>


<!-- <div class="container">
    <video autoplay="" loop="">
        <source src="/assets/intro.webm" type="video/webm">
    </video>

    <div class="about-details">
        <span>About Us</span>
        <h2>We Provide Good Quality Of Food To Your Family</h2>
        <p>
            With billions of people served, McDonald's has played a fascinating role in shaping international culture
            since its first restaurant opened. Here, a compilation of surprising McDonald's trivia even its most loyal
            customers may not know.
        </p><br>
        <p>
            Unlike many other food delivery websites, we at McDonalds’s have made ordering food online an experience
            that can be best described as - easy-peasy. Here’s how you go about it- select the food you crave, next step
            is to take your pick from the choice of add-ons, drink, side and dessert. Then add to cart, choose mode of
            payment and voila, you have placed your fast-food order online and your McDonald’s food is on its way! You
            can also track your order as it comes to you
        </p>
        <button class="btn">Learn More</button>
    </div>

</div> -->



<div class="about-section">
    <h1>About Us</h1>
    <p>With billions of people served, McDonald's has played a fascinating role in shaping international culture
        since its first restaurant opened. Here, a compilation of surprising McDonald's trivia even its most loyal
        customers may not know.</p>
    <p>Unlike many other food delivery websites, we at McDonalds’s have made ordering food online an experience
        that can be best described as - easy-peasy. Here’s how you go about it- select the food you crave, next step
        is to take your pick from the choice of add-ons, drink, side and dessert. Then add to cart, choose mode of
        payment and voila, you have placed your fast-food order online and your McDonald’s food is on its way! You
        can also track your order as it comes to you</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <!-- <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/goku.jpg" alt="Astroo" style="width:100%">
        <div class="container">
          <h2>Astroo</h2>
          <p class="title">CEO & Founder</p>
          <p>Web Designer</p>
          <p>naushadaaga@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->

    <div class="row">
        <div class="column">
          <div class="card">
            <img src="assets/goku.jpg" alt="Astroo" style="width:100%">
            <div class="container">
              <h2>Astroo</h2>
              <!-- <p class="title">CEO & Founder</p> -->
              <p>Web Designer</p>
              <p>naushadaaga@gmail.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>

        <!-- <div class="row">
            <div class="column">
              <div class="card">
                <img src="assets/goku.jpg" alt="Astroo" style="width:100%">
                <div class="container">
                  <h2>Astroo</h2>
                  <p class="title">CEO & Founder</p>
                  <p>Web Designer</p>
                  <p>astroo@gmail.com</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div> -->
  
    